<form method="post" action="/recipes/<%= @recipe.id %>">
  <input id="hidden" type="hidden" name="_method" value="patch" />

  <label for="recipe_name">Name:</label><br>
  <input type="text" name="name" id="recipe_name" value="<%= @recipe.name %>"/><br>
  <label for="recipe_ingredients">Ingredients:</label><br>
  <input type="text" name="ingredients" id="recipe_ingredients" value="<%= @recipe.ingredients %>" /><br>
  <label for="recipe_time">Cooking Time (min):</label><br>
  <input type="text" name="cook_time" id="recipe_time" value="<%= @recipe.cook_time %>" /><br>
  <input type="submit" value="Submit">
</form>
