<form method="post" action="/recipes">
  <label for="recipe_name">Name:</label><br>
  <input type="text" name="name" id="recipe_name" /><br>
  <label for="recipe_ingredients">Ingredients:</label><br>
  <textarea type="text" name="ingredients" id="recipe_ingredients" /></textarea><br>
  <label for="recipe_time">Cooking Time:</label><br>
  <input type="text" name="cook_time" id="recipe_time" /><br>
  <input type="submit" value="Submit">
</form>
